.container {
    max-width: 700px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 5%;
    bottom: -30%;
    width: 200px;
    height: 410px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-image: url(/img/syberia_wallpaper.png);
    background-size: cover;
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.product-device-2::before {
    background-color: rgba(255, 255, 255, .1);
    background-image: url(/img/syberia_watemark.png);
    background-size: cover;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}
@media (min-width: 992px) {
    .product-device {
        display: block !important;
        width: 300px;
        height: 540px;
    }
    .product-device-2 {
        display: block !important;
        width: 300px;
        height: 540px;
    }
}

@media (min-width: 1060px) {
    .product-device {
        right: 10%;
    }
}

.overflow-hidden { overflow: hidden; }

:target {
    background-color: rgba(120,228,215, 0);
    -webkit-animation: target-highlight 2s;
    animation: target-highlight 2s;
}

@-webkit-keyframes target-highlight {
    0% {
        background-color: rgba(120,228,215, 0);
    }
    25% {
        background-color: rgba(120,228,215, 255);
    }
    50% {
        background-color: rgba(120,228,215, 0);
    }
    75% {
        background-color: rgba(120,228,215, 255);
    }
    100% {
        background-color: rgba(120,228,215, 0);
    }
}

@keyframes target-highlight {
    0% {
        background-color: rgba(120,228,215, 0);
    }
    25% {
        background-color: rgba(120,228,215, 255);
    }
    50% {
        background-color: rgba(120,228,215, 0);
    }
    75% {
        background-color: rgba(120,228,215, 255);
    }
    100% {
        background-color: rgba(120,228,215, 0);
    }
}
